# Compiled code
/dist/*
/docs/*

# Yarn dependencies
.yarn/*
!.yarn/versions
!.yarn/plugins

# Various tooling caches
node_modules
*.tsbuildinfo

# direnv/devenv config and cache
local.envrc
/.devenv-initialized

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
